*.pyc
*.zip
*.egg-info
.DS_STORE

results
data/datasets/driveways_bing_iros19/*
!data/datasets/driveways_bing_iros19/full_semantic
!data/datasets/driveways_bing_iros19/raw
!data/datasets/driveways_bing_iros19/full_c2g
!data/datasets/driveways_bing_iros19/*.csv

*.tfevents.*
index.html
graph.pbtxt
validation_logs.p
test_images/
/driveways_bing_iros19*
data/trained_networks/driveways_bing_iros19_full_test_works/images
data/trained_networks/driveways_bing_iros19_masked
data/trained_networks/driveways_bing_iros19_masked2
data/trained_networks/driveways_bing_iros19_presentation

logs/
venv/

obs*.pkl

.ipynb_checkpoints